{include file="{$VIEW_DIR}common/header.html"}
<body class="page-header-fixed page-quick-sidebar-over-content">
<div class="page-container"> {include file="{$VIEW_DIR}common/left_menu.html"}
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> </div>
      <div class="portlet box blue-madison">
        <div class="portlet-title">
          
          
        </div>
        <div class="portlet-body">

        </div>
      </div>
    </div>
  </div>
</div>

{include file="{$VIEW_DIR}common/footer.html"}
</body>
</html>
