<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul data-slide-speed="200" data-auto-scroll="true" data-keep-expanded="false" class="page-sidebar-menu">
			<li class="sidebar-toggler-wrapper" style='margin-bottom:0px;'>
        		<div class="sidebar-toggler"> </div>
      		</li>
	  		<li class="start active open"><a href="/welcome/index"><i class="icon-home"></i><span class="title">欢迎</span></a></li>
			{if $cUser['is_admin'] || in_array('/system/',$power)}
			<li class="">
		      	<a href="javascript:;">
		      		<i class="glyphicon glyphicon-cog"></i>
		      		<span class="title">系统管理</span>
		      		<span class="selected"></span>
		      		<span class="arrow open"></span>
		      	</a>
        		<ul class="sub-menu">
					<li> <a href="/system/account/list">账号管理</a></li>
					<li> <a class="ajax-link" href="/system/role/list">角色管理 </a> </li>
					<li> <a class="ajax-link" href="/system/power/list">菜单管理 </a> </li>
				</ul>
			</li>
      		{/if}
      		{if $cUser['is_admin'] || in_array('/base/',$power)}
			<li>
		    	<a href="javascript:;">
		      		<i class="glyphicon glyphicon-th-list"></i>
		      		<span class="title">基础信息管理</span>
		      		<span class="selected"></span>
		      		<span class="arrow"></span>
		      	</a>
		      	<ul class="sub-menu">
					<li><a href="/base/section">科室管理</a></li>
				</ul>
			</li>
			{/if}
			{if $cUser['is_admin'] || in_array('/abnormal/',$power)}
			<li>
		      	<a href="javascript:;">
		      		<i class="glyphicon glyphicon-list-alt"></i>
		      		<span class="title">异常事件上报</span>
		      		<span class="selected"></span>
		      		<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li><a href="/abnormal/piping">管路事件报告</a></li>
					<li><a href="/abnormal/medicine">给药错误报告</a></li>
					<li><a href="/abnormal/stab">锐器刺伤报告</a></li>
					<li><a href="/abnormal/pressure">压疮事件报告</a></li>
					<li><a href="/abnormal/fall">跌倒坠床报告</a></li>
					<li><a href="/abnormal/other">其他事件报告</a></li>
				</ul>
	   		</li>
	   		{/if}
      		{if $cUser['is_admin'] || in_array('/examine/',$power)}
      		<li>
		      	<a href="javascript:;">
		      		<i class="glyphicon glyphicon-eye-close"></i>
		      		<span class="title">异常事件审核</span>
		      		<span class="selected"></span>
		      		<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li><a href="/examine/piping">管路事件报告</a></li>
					<li><a href="/examine/medicine">给药错误报告</a></li>
					<li><a href="/examine/stab">锐器刺伤报告</a></li>
					<li><a href="/examine/pressure">压疮事件报告</a></li>
					<li><a href="/examine/fall">跌倒坠床报告</a></li>
					<li><a href="/examine/other">其他事件报告</a></li>
				</ul>
	   		</li>
	   		{/if}
		   	{if $cUser['is_admin'] || in_array('/standard/',$power)}
		   	<li>
		   	    <a href="javascript:;">
			  	  	<i class="glyphicon glyphicon-book"></i>
			  	  	<span class="title">质量检测指标</span>
			  	  	<span class="selected"></span>
			  	  	<span class="arrow"></span>
			    </a>
				<ul class="sub-menu">
					<li><a href="/standard/list_data">历史上报查看</a></li>
					<li><a href="/standard/import_data">导入数据</a></li>
					<li><a href="/standard/edit_data">修改数据</a></li>
					<li><a href="/standard/summary_month">按月份汇总数据</a></li>
					<li><a href="/standard/summary_section">按科室汇总数据</a></li>
					<li><a href="/standard/export_data">导出数据</a></li>
					<li><a href="/standard/report_form">质量科目报表</a></li>
					<li><a href="/standard/report_indicators">选择上报指标</a></li>
					<li><a href="/standard/report_department">选择上报部门</a></li>
					<li><a href="/standard/export_dictionary">导出科室字典</a></li>
					<li><a href="/standard/dictionaries">检测指标字典</a></li>
				</ul>
			</li>
			{/if}
		</ul>
	</div>
</div>