{include file="{$VIEW_DIR}common/header.html"}
<body class="page-header-fixed page-quick-sidebar-over-content">
	<div class="page-container">
	{include file="{$VIEW_DIR}common/left_menu.html"}
	<div class="page-content-wrapper"><div class="page-content">
	<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
      <div class="portlet box blue-madison">
        <div class="portlet-title">
          	<div class="caption"> <i class="fa fa-globe"></i>按月汇总数据</div>
        </div>
        <div class="portlet-body">
        	<div id="toolbar1" style="margin-bottom:0px;">
        		<div class="form-group col-sm-8" style="padding:10px 0 0 0;float: left;margin-top:0px;line-height: 34px;height: 26px;">
					<label class="control-label" style="padding:0;width:90px;float:left">选择年份</label>
					<div class="col-sm-5" style="padding:0">
		            	<div class="input-group date">
		                	<select id="report_time" name="report_time" class="form-control">
		                		<option value="2017">2017</option>
		                	</select>
		                 	<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		             	</div>
		       		</div>
		        </div>
        	</div>
		   	<table id="tableId" data-url="/Standard/ajaxGetSummaryMonthList" data-sort-name="id" data-toggle="table"
		   		data-click-to-select="true"  data-pagination="true"  data-show-refresh="true" data-show-columns="true" data-search="true" data-toolbar="#toolbar1">
				<thead>
					<tr>
						<th data-checkbox="true"></th>
						<th data-field="id" data-formatter="indexFormatter" >索引ID</th>
						<th data-field="section_name">部门</th>
						<th data-field="type_name">质量科目名称</th>
						<th data-field="standard">标准</th>
						<th data-field="m01">一月</th>
						<th data-field="m02">二月</th>
						<th data-field="m03">三月</th>
						<th data-field="m04">四月</th>
						<th data-field="m05">五月</th>
						<th data-field="m06">六月</th>
						<th data-field="m07">七月</th>
						<th data-field="m08">八月</th>
						<th data-field="m09">九月</th>
						<th data-field="m10">十月</th>
						<th data-field="m11">十一</th>
						<th data-field="m12">十二</th>
						<th data-field="average" data-formatter="averageFormatter">平均</th>
					</tr>
				</thead>
			</table>
			<div class="row pull-right">
				<ul class="pagination">
				</ul>
			</div>
        </div>
      </div>
    </div>
  </div>
</div>
{literal}
<style>
.pull-left{width:70%;margin-top:0!important}
</style>
<script type="text/javascript">
function indexFormatter(value, row, index) {
	return index+1;
}
function averageFormatter(value, row, index) {
	if(row.status == 0)
		return row.average;
	else if(row.status == -1)
		return '<i class="glyphicon glyphicon-arrow-down" style="color:red">'+row.average+'</i>';
	else if(row.status == 1)
		return '<i class="glyphicon glyphicon-arrow-up" style="color:red">'+row.average+'</i>';
}
function refresh(){
	$('#tableId').bootstrapTable('refresh', {
        url: '/Standard/ajaxGetSummaryMonthList',
        query:{
        	report_time:$("#report_time").val()
        }
    });
}
</script>
{/literal}
{include file="{$VIEW_DIR}common/footer.html"}
</body>
</html>
